.cards-container {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.project-card {
  height: 320px;
  background: no-repeat center/cover;
  border-radius: 4px;
}
